.bc{
height:400px;
width:350%;
transform:translatey(-100px)translatex(-10px);
background:#4d36d6;
}
body{
				background:#80c1ff;
}
.txe{
font-size:700%;
width:10%;
height:10%;
				transform: translatey(-300%)translatex(400%);
				margin-right: auto;
}
.img{
				transform:translatex(10%) translatey(-1%);
				
}
.ds{
font-size:500%;
				transform:translatex(5%) translatey(-100px);
}
.aut{
				font-size:200%;
				transform:translatex(5%) translatey(-250%);
}
.ftg{
				font-size:100px;
				margin-left:5%;
}
.fnt{
				font-size:400%;
				margin-left:10%;			
}
.frd{
			border-radius:10%;
}
.bnc{
height:50%;
width:66.5%;
background:blue;
border-top-left-radius:5%;
border-bottom-left-radius:5%;
transform: translatey(120px);
margin-left: auto;
}
.bbm{
height:10%;
width:33.5%;
background:#2b2eff;
border-top-left-radius:5%;
border-bottom-left-radius:5%;
transform: translatey(-50px);
margin-left: auto;
}
.vtr{
				width:300px;
				height:100px;
				margin-left:500px;
margin-top:100px;				
}
.escpp{
				border-color:#2b2eff;
border-style:outset;
width:200px;
font:bold 50px arial, sans-serif;
text-shadow:none;
background:#d71259;
color:blue;
border-radius:10%;
}
.imp{
		transform:translatex(10%) translatey(5%);
		
}
.rdb{
				background:#bbe6f9;
				width:270%;
				height:350px;
				border-radius:5%;
				padding:100px;
}
.rd1{
							background:#bbe6f9;
				width:320%;		
				margin-top:100px;
				border-radius:5%;
				padding-top:100px;
				padding-bottom:50px;
				padding-right:20px;
}
.rd2{
						background:#bbe6f9;
				width:320%;		
				margin-top:100px;
				border-radius:5%;
				padding-top:40px;
				padding-bottom:180px;
				padding-right:20px;
}
.rd3{
						background:#bbe6f9;
				width:320%;			
				margin-top:100px;
				border-radius:5%;
				padding-top:40px;
				padding-bottom:180px;
				padding-right:20px;
}
.rd4{
						background:#bbe6f9;
				width:320%;		
				margin-top:100px;
				border-radius:5%;
				padding-top:40px;
				padding-bottom:180px;
				padding-right:20px;
}
.rd5{
						background:#bbe6f9;
				width:320%;		
				margin-top:100px;
				border-radius:5%;
				padding-top:30px;
				padding-bottom:180px;
				padding-right:20px;
}
.rd6{
						background:#bbe6f9;
				width:320%;		
				margin-top:100px;
				border-radius:5%;
				padding-top:40px;
						padding-bottom:180px;
						padding-right:20px;
}
.cima_ol{
    margin-top:1000px;
}
.botao{
    background:#bbe6f9;
    padding:20px;
    font-size:100px;
    border-radius:10%;
    border-width:0px;
}
