.azul{color:#55ffff; }
.w1{font-weight:1;}
.branco{color:#ffffff;}
.azulcl{color:##55ffff;}
.azulesc{color:#6a8dff;}
.vermelho{color:#ff0a00;}
.fontmew{font-size:30px;
font-weight:1;}
.gg{font-size:100px;}
.g{font-size:50px;}
.azxo{color:#6655ff;}

